body {
    margin:0;
}

.navbar {
    overflow: hidden;
    background-color: lightblue;
    position: fixed;
    top: 0;
    width: 100%;
}

.navbar a {
    float: left;
    display: block;
    color: darkblue;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
  
.navbar a:hover {
    background: darkblue;
    color: white;
}

.main {
    padding: 16px;
    margin-top: 40px;
}